*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    letter-spacing: .5px;
}

.pokemon_container{
    width: 80%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.pokemon{
    padding: 2rem;
    box-shadow: 0 0 .4rem rgba(0,0,0,0.2);
}

.header{
    display: flex;
    padding-top: 4rem;
    justify-content: center;
    align-items: center;
}


.stats {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  width: 100%;
}

.stats li {
  margin: 4px 0;
  text-align: left;
}

.level-up, .level-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin: 10px 0;
  color: white;
  background-color: rgb(73, 255, 119);
    border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.level-up:hover, .level-down:hover {
  background-color: rgb(0, 179, 45)
}

button.delete {
  margin-top: auto;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button.delete:hover {
  background-color: #cc0000;
}